{% extends "base.html" %}


{% block content %}
  <h1>NEW</h1>
  {% comment %} form 태그로 POST방식 --->  {% endcomment %}
  {% comment %} 1. url의 create {% endcomment %}
  {% comment %} 2. views.py create함수의 request {% endcomment %}
  <form action="{% url "articles:create" %}" method = "POST">
    {% comment %} csrf 토큰 : 보안 토큰(POST방식) {% endcomment %}
    {% csrf_token %}
    
    <div> {% comment %} title {% endcomment %}
      {% comment %} for = "title" 과 id = "title" 연관 {% endcomment %}
      <label for="title">Title : </label>
      {% comment %} name = "title"과 request.POST.get('title') {% endcomment %}
      <input type="text" name = "title" id = "title">
    </div>
      
    <div> {% comment %} content {% endcomment %}
      <label for="content">Content : </label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>

    <input type="submit">
  </form>


{% endblock content %}